{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}

{% block title %}
<title>{{ tag_name.name }}_Dxigui的个人博客</title>
{% endblock %}

{% block meta %}
<meta name="description" content="" >
<meta name="keyword" content="{{ tag_name.name }}" >
{% endblock %}

{% block content %}
<main class="col-md-8">
<div class="cate_name"><h2>{{ tag_title }}:&nbsp;{{ tag_name.name }}</h2></div>
{% for article in tag_art %}
{% include 'tags_templates/show_article.html' %}
{% endfor %}
</main>
{% include 'tags_templates/sidebar.html' %}
{% endblock %}
